[submodule "Foundation/ExtensionKit"]
	path = Foundation/ExtensionKit
	url = ./Foundation/ExtensionKit
[submodule "Foundation/NavigateKit"]
	path = Foundation/NavigateKit
	url = ./Foundation/NavigateKit
[submodule "Foundation/DDNetwork"]
	path = Foundation/DDNetwork
	url = ./Foundation/DDNetwork
[submodule "Foundation/CatonMonitorKit"]
	path = Foundation/CatonMonitorKit
	url = ./Foundation/CatonMonitorKit
