[submodule "Foundation/ExtensionKit"]
	path = Foundation/ExtensionKit
	url = ./Foundation/ExtensionKit
[submodule "Foundation/NavigateKit"]
	path = Foundation/NavigateKit
	url = ./Foundation/NavigateKit
